{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block content %}
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>{% trans "Formulario de Tipo de Ingreso" %} <small>{% trans "Agrega la información de un tipo de ingreso" %}</small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form id="formulario" class="form-horizontal form-label-left input_mask" method='POST' enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.archivo.label }}</label>
                                <div class="col-md-9 col-sm-9 col-xs-12 form-group has-feedback">
                                    {{ form.archivo }}
                                    <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                                    <ul class="parsley-errors-list filled">
                                        {{ form.archivo.errors }}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                  {% include 'main/_footer_form.html' %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
