{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>{% trans "Formulario de Usuarios" %} <small>{% trans "Agrega la información de un usuario" %}</small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form id="formulario" class="form-horizontal form-label-left input_mask" method='POST' enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.email.label }}</label>
                                <div class="col-md-9 col-sm-9 col-xs-12 form-group has-feedback">
                                    {{ form.email }}
                                    <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                                    <ul class="parsley-errors-list filled">
                                        {{ form.email.errors }}
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.first_name.label }}</label>
                                <div class="col-md-9 col-sm-9 col-xs-12 form-group">
                                    {{ form.first_name }}
                                    <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                                    <ul class="parsley-errors-list filled">
                                        {{ form.first_name.errors }}
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.last_name.label }}</label>
                                <div class="col-md-9 col-sm-9 col-xs-12 form-group has-feedback">
                                    {{ form.last_name }}
                                    <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                                    <ul class="parsley-errors-list filled">
                                        {{ form.last_name.errors }}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" style="right: 2%;">{{ form.password.label }}</label>
                                <div class="col-md-9 col-sm-9 col-xs-12 form-group has-feedback">
                                    {{ form.password }}
                                    <span class="fa fa-key form-control-feedback right" aria-hidden="true"></span>
                                    <ul class="parsley-errors-list filled">
                                        {{ form.password.errors }}
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.password_confirmation.label }}</label>
                                <div class="col-md-9 col-sm-9 col-xs-12 form-group has-feedback">
                                    {{ form.password_confirmation }}
                                    <span class="fa fa-key form-control-feedback right" aria-hidden="true"></span>
                                    <ul class="parsley-errors-list filled">
                                        {{ form.password_confirmation.errors }}
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.grupo.label }}</label>
                                <div class="col-md-9 col-sm-9 col-xs-12 form-group has-feedback">
                                    {{ form.grupo }}
                                    <ul class="parsley-errors-list filled">
                                        {{ form.grupo.errors }}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                  {% include 'main/_footer_form.html' %}

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
