{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>{% trans "Lista Observaciones" %} <small>{% trans "Lista de observaciones con sus datos" %}</small></h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content table-responsive">
                <p class="text-muted font-13 m-b-30">
                    <a href="{% url 'main:crear_observacion' %}">{% trans "Agregar una observacion nueva" %}</a>
                </p>
                <table id="datatable" class="table table-striped table-bordered dt-responsive">
                    <thead>
                        <tr>
                            <th>{% trans "Nombre" %}</th>
                            <th>{% trans "Comandos" %}</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for observacion in observacion_list %}
                        <tr>
                            <td>{{ observacion.texto|upper }}</td>
                            <td><a href="{% url 'main:editar_observacion' observacion.id %}" class="fa fa-edit btn btn-success"></a></td>
                            {% empty %}
                            <td colspan="2">{% trans "Aun no hay observaciones, agrega una " %}<a href="{% url 'main:crear_observacion' %}">{% trans "Aquí"%}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}

{% include "main/_datatables_javascript.html" %}

{% endblock %}
